:root { 
--black_900_7f:#0000007f; 
--gray_900_14:#00221314; 
--gray_50_01:#fff9f9; 
--gray_50_02:#fffafa; 
--red_600:#dc3545; 
--gray_800_02:#454343; 
--green_900:#0c3f04; 
--gray_800_01:#424242; 
--black_900_91:#00000091; 
--black_900_3f:#0000003f; 
--black_900_89:#00000089; 
--light_green_600:#7fc329; 
--red_A400_1e:#ff08411e; 
--gray_800_7f:#4242427f; 
--red_A700:#ff0000; 
--gray_400:#b6b6b6; 
--blue_900:#044ab3; 
--black_900_0a:#0000000a; 
--blue_gray_100:#cccccc; 
--gray_800:#494747; 
--black_900_0f:#0000000f; 
--blue_900_0a:#044ab30a; 
--red_A400_38:#ff084138; 
--gray_200:#e7e7e7; 
--black_900_c6:#000000c6; 
--black_900_4f:#0000004f; 
--black_900_11:#00000011; 
--black_900_99:#00000099; 
--pink_A100_2d:#f5809b2d; 
--gray_400_01:#b8b8b8; 
--black_900_93:#00000093; 
--black_900_51:#00000051; 
--black_900_14:#00000014; 
--gray_700_02:#6b6666; 
--white_A700:#ffffff; 
--gray_700_01:#666565; 
--black_900_d3:#000000d3; 
--red_A400_7f:#ff08417f; 
--black_900_d1:#000000d1; 
--red_A400_b2:#ff0841b2; 
--blue_gray_100_01:#cfcfcf; 
--red_900:#bb0909; 
--blue_gray_100_02:#d9d9d9; 
--gray_900_6c:#101a246c; 
--black_900_1c:#0000001c; 
--gray_50:#fdfcfc; 
--red_50:#fde8ed; 
--red_100:#f8d9db; 
--black_900_1e:#0000001e; 
--gray_400_38:#b4b4b438; 
--black_900_21:#00000021; 
--black_900_66:#00000066; 
--black_900:#000000; 
--pink_A400:#ff055f; 
--red_A400:#ff0841; 
--blue_gray_800:#374047; 
--green_500_8c:#2ccb3c8c; 
--indigo_900_e0:#0c2c5be0; 
--gray_900_02:#212020; 
--gray_700:#555555; 
--amber_600_01:#eeb609; 
--gray_500:#979797; 
--lime_600:#afc749; 
--amber_600:#ffbb00; 
--blue_gray_600:#5c6574; 
--black_900_e2:#000000e2; 
--gray_900:#222222; 
--gray_900_01:#101a24; 
--light_green_600_01:#80c32a; 
--black_900_a3:#000000a3; 
--black_900_2d:#0000002d; 
--gray_300:#dbd8d8; 
--gray_100:#f3f3f3; 
--black_900_a5:#000000a5; 
--black_900_cc:#000000cc; 
--white_A700_01:#fffefe; 
--red_A400_66:#ff084166; 
--black_900_30:#00000030; 
--light_green_600_02:#89c32a; 
--red_A400_23:#ff084123; 
--indigo_900:#0c2c5b; 
}